@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
    margin: 0;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    width: 96%;
    margin: auto;
}

.header {
    position: relative;
    height: 100px;
}

.title-wrapper {
    position: relative;
    top: 10px;
    width: 800px;
    height: 80px;
    margin: auto;
    background-color: #ffffa3;
}

.title {
    position: relative;
    float: left;
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Karla', sans-serif;
}

.controls {
    margin-top: 30px;
    height: calc(100vh - 150px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-right: 45px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}